name: CI

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Set environment variables
        run: |
          echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> $GITHUB_ENV
          echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}" >> $GITHUB_ENV
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
           fetch-depth: 0
      
      # Runs a single command using the runners shell
      - name: Setup Java 11
        uses: actions/setup-java@v2
        with:
          java-version: 11

      #- name: Cache Docker images
      #  uses: satackey/action-docker-layer-caching@v0.0.11
      #  # Ignore the failure of a step and avoid terminating the job.
      #  continue-on-error: true

      - name: Cache Maven packages and Google Jib cache
        uses: actions/cache@v2
        with:
          path: | 
            ~/.m2
            ~/.cache/google-cloud-tools-java/jib
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2          

      - name: Cache SonarCloud packages
        uses: actions/cache@v2
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Static checks
        run: mvn --batch-mode --update-snapshots dependency-check:check pmd:pmd pmd:cpd spotbugs:spotbugs
      
      - name: Publish image to DockerHub
        run: mvn --batch-mode --update-snapshots compile jib:build
      
      - name: Anchore scan
        uses: anchore/scan-action@v2
        with:
          image: "docker.io/maartensmeets/spring-boot-demo"
          
      - name: Start service
        run: |
          docker network create zap
          docker run --pull always --name spring-boot-demo --network zap -d -p 8080:8080 docker.io/maartensmeets/spring-boot-demo

      - name: OWASP ZAP scan
        run: |
            # make file runnable, might not be necessary
            chmod +x "${GITHUB_WORKSPACE}/.github/zap_cli_scan.sh"
            # run script
            "${GITHUB_WORKSPACE}/.github/zap_cli_scan.sh"
            mv owaspreport.html target

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.java.pmd.reportPaths=target/pmd.xml,target/dependency-check-report-pmd.xml -Dsonar.java.spotbugs.reportPaths=target/spotbugsXml.xml

      - name: 'Publish Test Report'
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: 'test-reports'
          path: |
             target/*.html
             target/site/
             ./anchore-reports/
